@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

a:link {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: fuchsia;
}
a:visited {
  color: dimgray;
}

body {
  font-family: 'AppleSDGothicNeo-Light', 'HelveticaNeue-Thin', 'Noto Sans', sans-serif;
  font-size: medium;
  max-width: 960px;
  margin: auto;
}

img.profile {
  -webkit-clip-path: circle(75px at center);
  clip-path: circle(75px at center);
  max-width: 100%;
}

img.email {
  vertical-align: middle;
}

header > .flex-container {
  justify-content: center;
}

header > .flex-container > .flex-item-left,
header > .flex-container > .flex-item-right {
  padding: 8px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.flex-item-left {
  flex: 0 0 150px;
  text-align: right;
  padding: 0px 8px;
}
.flex-item-right {
  flex: 1;
  padding: 0px 8px;
}
.section {
  font-size: x-large;
  padding: 8px;
}
.separator {
  border-left: 1px solid gray;
}
.announcement {
  color: blue;
  font-weight: bold;
}

#name {
  font-family: 'Georgia', 'Noto Serif', serif;
  text-align: center;
  font-size: xx-large;
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 10px;
}

.flex-item-right > ul {
  padding: 0px 0px 0px 15px;
  margin: 0px;
}

@media screen and (max-width: 480px) {
  header > .flex-container > .flex-item-left {
    order: -1;
  }
  main > .flex-container > .flex-item-left {
    flex: 1 1 100%;
    text-align: left;
    padding: 0px 8px;
  }
  main > .flex-container > .flex-item-right {
    flex: 1 1 100%;
    padding: 0px 8px 8px 8px;
  }

  .separator {
    border-left: none;
  }
  .empty {
    display: none;
  }

  #name {
    padding: 0px 8px 8px 8px;
  }
}
